
<header>
  <div id="logo"></div>
</header>

  <nav>
    <div class="container">
      <ul>
        <li 
          routerLink="" 
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exacts: true }">
          characters
        </li>
        <li routerLink="episodes" routerLinkActive="active">episodes</li>
        <li routerLink="locations" routerLinkActive="active">locations</li>
      </ul>
    </div>
  </nav>



<div class="container">
  <router-outlet></router-outlet>
</div>

