
<header>
  <div id="logo"></div>
</header>

  <nav>
    <div class="container">
      <ul>
        <li>
          <a
            routerLink="" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exacts: true }"
          >
            characters
          </a> 
        </li>
        <li><a routerLink="episodes" routerLinkActive="active">episodes</a> </li>
        <li><a routerLink="locations" routerLinkActive="active">locations</a></li>
      </ul>
    </div>
  </nav>



<div class="container">
  <router-outlet></router-outlet>
</div>

