html,body{
    background-color: #000 !important;
    color: #fff;
}
header{
    height: 280px;
    background-image: url(./assets/images/bg-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

header #logo{
    width: 425px;
    height: 133px;
    background-image: url(./assets/images/rick-morty.png);
    background-repeat: no-repeat;
}

nav{
    margin: 10px 0 20px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0 0;
    padding: 0;
}

nav ul li{
    color: #fff;
    list-style: none;
    margin: 0 5px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: block;
    cursor: pointer;
}

nav ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

.title h4{
    color: #fff;
    margin: 20px 0;
    font-size: 30px;
}

/* nav ul li.active{
    font-weight: 700;
} */